<div {{ attributes }}>
    {% if not parent %}
        <div class="moderation-note-quote-information">
            <blockquote>{{ quote }}</blockquote>
            <p>From "{{ moderated_entity_link }}"</p>
        </div>
    {% endif %}
    <div class="moderation-note-text">
        {{ text|nl2br }}
    </div>
    <div class="moderation-note-owner">
        {{ author_link }} {{ created_pretty }}
    </div>
    <div class="moderation-note-actions">
        {% if edit_button %}
            {{ edit_button }}
        {% endif %}
        {% if delete_button %}
            {{ delete_button }}
        {% endif %}
    </div>
</div>
